/*
.contenedor {
  background-color: rgb(0, 0, 255, 0.2);
  height: 200px;
  width: 200px;
}
.cat {
  width: 600px;
  height: 600px;
  background-image: url(https://static.platzi.com/media/user_upload/Carro%20patrosinado-625b9512-6fbc-4d6a-9c35-9a01d8a20508.jpg);
}
.cat_name { background-color: blueviolet;
  color: rgba(0, 255, 0, 0.7);
}

.div_cua {
  width: 200px;
  height: 200px;
  background-color: hsla(30, 48%, 33%, 0.23);

  .border {
    border: 5px blue dashed;
    color: rgba( 255, 255, 255, .4);
    border-radius: 10px;
    width: 200px;
    
  }
  
  body {
    background-color: rgb(0, 0, 0);
  }
  
  
  .medidas {
    width: 200px;
    color: rgba(255, 255, 255, 0.5);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1cm;
  }

body {
  background-color: black;
}


.Padre {
  font-size: 20px;
}

.Hijo {
  font-size: 20px;
}


.contenedor {
  background-color: white;
}

body {
  background-color: black;
}

.cont-1 {
  background-color: rgba(0, 255, 255, 0.5);
  color: red;
}
.cont-1-div {
  background-color: rgba(255, 255, 255, 0.5);
}
.cont-2 {
  background-color: rgba(0, 0, 255, 0.5);
}

*/

body {
  background-color: rgba(0, 0, 0);
}

.border {
  color: rgba(255, 255, 255, 0.5);
  border: 5px rgb(0, 255, 0) dotted;
  width: 70px;
  height: 60px;
}

#back {
  color: rgba(0, 0, 255, 0.5);
  background: rgba(0, 255, 0, 0.5)
    url(https://i.ytimg.com/vi/PORNXyLBeB4/maxresdefault.jpg) no-repeat bottom /
    100px 100px;
  height: 200px;
  width: 400px;
}
